.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  padding-right: 6rem;
  padding-left: 3rem;
}
