.listings {
  position: fixed;
  top: 10rem;
  left: 5rem;
  width: 50rem;
  max-width: 50rem;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 2px solid black;
  padding-right: 6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;

  .listingTable {
    width: 100%;

    table {
      width: 100%;
      border-collapse: collapse;
      /* border: 2px solid red; */

      th, td {
        border: 1px solid white;
        padding: 0.5rem;
        text-align: left;
      }

      th {
        background-color: #3a3f47;
      }

      tr:nth-child(even) {
        background-color: #2c2f33;
      }
    }
  }

}
