.navbar {
  position: fixed;
  top: 0;
  max-width: 1280px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  padding-right: 4rem;
  padding-left: 2rem;
}

.logo {
  height: 3em;
}
