.user_info {
  display: flex;
  width: 20rem;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  /* border: 4px solid red; */
}

.login-form {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.login-fields {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login-button {
  margin-top: 0.2rem;
  cursor: pointer;
  height: 3rem;
}

.logo {
  height: 3em;
}
