
name: Docker CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v5
    - name: Build Docker image
      run: docker build -t landwatcher:latest .
